@import "tailwindcss";

:root {
  --secondary: 228 16% 18%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.floatingchat-container-wrap,
.floatingchat-container-wrap-mobi {
  width: 280px !important;
}

.floatingchat-container,
.floatingchat-container-mobi {
  width: 280px !important;
}
